@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
   /* Remove horizontal scroll */
}
/* index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}